name: Master Deploy to Tencent COS
on:
  push:
    branches:
      - master

jobs:
  build-and-upload-master:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Upload to Tencent COS (master)
        uses: TencentCloud/cos-action@v1
        with:
          secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
          secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
          bucket: ${{ secrets.TENCENT_CLOUD_BUCKET }}
          region: ${{ secrets.TENCENT_CLOUD_REGION }}
          local_path: ./dist
          remote_path: /master/
